<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <!--<add key="SqlConnectionString" value="data source=10.101.30.61,3433;initial catalog=TCOAMessage;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;"/>-->
    <add key="SqlConnectionString" value="data source=.;initial catalog=CLINIC;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;"/>
  </appSettings>
  <connectionStrings>
    <add name="docare" connectionString="server=.;uid=sa;pwd=sa;database=CLINIC;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
