<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="SqlConnectionString" value="data source=10.101.30.61,3433;initial catalog=TCOAMessage;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;"/>
  </appSettings>
</configuration>
