@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body>
    <div>
        <input id="lblAt" type="text" class="getsearchjson" />
    </div>
</body>

<script src="~/Scripts/AtFunc.js"></script>
