@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnAll").click(function () {
                $.getJSON("/api/User", function (data) {
                    var html = "<ul>";
                    $(data).each(function (i, item) {
                        html += "<li>" + item.ID + ":" + item.Nonce + ":" + item.CreateTime + "</li>";
                    });
                    html += "</ul>";
                    $("#contactAll").html(html);
                });
            });


            $("#btnID").click(function () {
                var id = $("#txtID").val();
                $.getJSON("/api/User/" + id, function (data) {
                    var html = "<ul>";
                    $(data).each(function (i, item) {
                        html += "<li>" + item.ID + ":" + item.Nonce + ":" + item.CreateTime + "</li>";
                    });
                    html += "</ul>";
                    $("#contactID").html(html);
                });
            });

            $("#btnAdd").click(function () {
                //var sex = $("#ddlSex").val();
                $.post("/api/User", { id: 1, nonce: "", DateTime: "1900-1-1" },
                    function (data) {
                        var html = "<ul>";
                        $(data).each(function (item) {
                            html += "<li>" + item + "</li>";
                        });
                        html += "</ul>";
                        $("#contactResult").html(html);
                    });
            });
        });

    </script>
</head>
<body>
    <p>
        <input type="button" id="btnAll" value="查询所有" />&nbsp;
    </p>
    <p>
        <input type="text" id="txtID" name="txtID" />
        <input type="button" id="btnID" value="根据ID查询" />&nbsp;
    </p>
    <p>
        @*<select id="ddlSex" name="ddlSex">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>*@
        <input type="button" id="btnAdd" value="♂插入♂" />&nbsp;
    </p>
    <div id="contactAll">
    </div>
    <div id="contactID">
    </div>
    <div id="contactResult">
    </div>
</body>
</html>
