@{
    ViewBag.Title = "动画演示";
}
<link href="~/Content/animation.css" rel="stylesheet" />

<div class="space">
    <div class="wheel">
        <span class="line"></span>
    </div>
</div>


<div class='planet'>
    <div class='sun'></div>
    <div class='track'></div>
    <div class='moveY'>
        <div class='earth'></div>
    </div>
</div>
