<link href="~/Content/index.css" rel="stylesheet" />
@*<link href="~/Content/fileupload/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/fileupload/jquery.fileupload-ui.css" rel="stylesheet" />*@

<div class="content">
    <div class="content_left">
        <ul class="nav-left">
            <li class="actived"><i class="ion-android-happy"></i><span>表格展示</span></li>
            <li><i class="ion-android-restaurant"></i><span>多图片上传</span></li>
            <li><i class="ion-android-film"></i><span>电影</span></li>
            <li><i class="ion-android-cart"></i><span>逛街</span></li>
            <li><i class="ion-ios-monitor"></i><span>工作</span></li>
            <li><i class="ion-ios-barcode"></i><span>前端</span></li>
            <li><i class="ion-android-contacts"></i><span>家庭</span></li>
            <li><i class="ion-ios-rose"></i><span>联系我</span></li>
        </ul>
    </div>
    <div class="content_right">
        <table class="bordered">
            @*class="zebra"*@
            <thead>
                <tr>
                    <th class="checkAll">
                        <i class="ion-android-checkbox-outline-blank"></i>
                        <input type="checkbox" />
                    </th>
                    <th>列1</th>
                    <th>列2</th>
                    <th>列3</th>
                    <th>列4</th>
                    <th>列5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="checkChild"><i class="ion-android-checkbox-outline-blank"></i><input type="checkbox" /></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td class="checkChild"><i class="ion-android-checkbox-outline-blank"></i><input type="checkbox" /></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>

                @*此处可以折叠*@
                <tr class="hide-line show-line" id="row_01">
                    <td class="checkChild"><span class="ion-android-remove"></span><input type="checkbox" /></td>
                    <td colspan="5">点我呀，点我就隐藏</td>
                </tr>
                <tr class="child-line_row_01">
                    @*<td class="checkChild"><i class="ion-android-checkbox-outline-blank"></i><input type="checkbox" /></td>*@
                    <td colspan="6">哎呀~我不想被你看见</td>
                </tr>
                <tr>
                    <td class="checkChild"><i class="ion-android-checkbox-outline-blank"></i><input type="checkbox" /></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td class="checkChild"><i class="ion-android-checkbox-outline-blank"></i><input type="checkbox" /></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
        <div class="picture_rotation"> 
            <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-12">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                            <input type="file" name="files[]" multiple=""  style="display:none;">
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>开始上传</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>取消上传</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>删除</span>
                        </button>
                        <input type="checkbox" class="toggle">
                        <span class="fileupload-process"></span>
                    </div>
                    <div class="col-lg-5 fileupload-progress fade">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
            </form>
        </div>
    </div>
    <div style="clear:both;"></div>

</div>

<script src="~/Scripts/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/jquery.fileupload.js"></script>
<script src="~/Scripts/jquery.iframe-transport.js"></script>*@

<script>    

    ;(function () {
        var mainIndex = {
            init: function () {
                this.bindEvent();
                this.CheckInit();
            },
            bindEvent: function () {
                //折叠事件
                $(".hide-line").on("click", function (event) {
                    $(this).toggleClass("show-line").siblings(".child-line_" + this.id).toggle();
                    $(this).children().find("span").toggleClass("ion-android-remove");
                    $(this).children().find("span").toggleClass("ion-android-add");
                    event.stopPropagation;
                })
            },
            //全选事件
            CheckInit: function () {
                var $checkAll = $('.checkAll').find("i"),
                    $checkAllInput = $('.checkAll').find("input"),
                    $checkChild = $('.checkChild').find("i"),
                    $checkChildInput = $('.checkChild').find("input");

                $("table i").on("click", function (event) {
                    $(this).toggleClass("ion-android-checkbox-outline-blank");
                    $(this).toggleClass("ion-android-checkbox-outline");
                    if ($(this).hasClass("ion-android-checkbox-outline")) {
                        $($(this).next()).prop('checked', true);
                    }
                    else {
                        $($(this).next()).prop('checked', false);
                    }
                    event.stopPropagation;
                });
                $checkAll.on('click', function () {
                    if ($(this).hasClass("ion-android-checkbox-outline")) {
                        $checkAllInput.checked = true;
                        $checkChildInput.prop('checked', true);
                        $checkChild.removeClass("ion-android-checkbox-outline-blank").addClass("ion-android-checkbox-outline");
                    } else {
                        $checkAllInput.checked = false;
                        $checkChildInput.prop('checked', false);
                        $checkChild.removeClass("ion-android-checkbox-outline").addClass("ion-android-checkbox-outline-blank");
                    }
                });
                $checkChild.on('click', function (event) {
                    $checkAllInput.prop('checked', $checkChildInput.length == $checkChildInput.filter(":checked").length);
                    if ($checkAllInput[0].checked) {
                        $checkAll.removeClass("ion-android-checkbox-outline-blank").addClass("ion-android-checkbox-outline");
                    } else {
                        $checkAll.removeClass("ion-android-checkbox-outline").addClass("ion-android-checkbox-outline-blank");
                    }
                    event.stopPropagation;
                })
            }
        };
        $(function () {
            mainIndex.init();
        });
    })();

    //$(function () {
        //$(".nav").append("<li><a class=\"ion-ios-rose\" href=\"javascript:void(0);\"></a><span>联系我</span></li>");

        //$(".nav").on('click', function () {
        //    alert("ul");
        //})

        //$(".nav").on('click', 'i', function (e) {
        //    alert("i");
        //    e.stopPropagation();
        //})
        //$(".nav").on('click', 'a', function (e) {
        //    alert("i");
        //    e.stopPropagation();
        //})

        //mainIndex();

    //});

    

    ////图片操作
    //$("#fileupload").fileupload({
    //    dataType: 'json',
    //    add: function (e, data) {
    //        var numItems = $('.files .images_zone').length;
    //        if (numItems >= 10) {
    //            alert('提交照片不能超过3张');
    //            return false;
    //        }
    //        $('.up_progress .progress-bar').css('width', '0px');
    //        $('.up_progress').show();
    //        $('.up_progress .progress-bar').html('Uploading...');
    //        data.submit();
    //    },
    //    done: function (e, data) {
    //        $('.up_progress').hide();
    //        $('.upl').remove();
    //        var d = data.result;
    //        if (d.status == 0) {
    //            alert("上传失败");
    //        } else {
    //            var imgshow = '<div class="images_zone"><input type="hidden" name="imgs[]" value="' + d.msg + '" /><span><img src="' + d.msg + '"  /></span><a href="javascript:;">删除</a></div>';
    //            jQuery('.files').append(imgshow);
    //        }
    //    },
    //    progressall: function (e, data) {
    //        console.log(data);
    //        var progress = parseInt(data.loaded / data.total * 100, 10);
    //        $('.up_progress .progress-bar').css('width', progress + '%');
    //    }
    //});
    ////图片删除
    //$('.files').on({
    //    mouseenter: function () {
    //        $(this).find('a').show();
    //    },
    //    mouseleave: function () {
    //        $(this).find('a').hide();
    //    },
    //}, '.images_zone');
    //$('.files').on('click', '.images_zone a', function () {
    //    $(this).parent().remove();
    //});
</script>
