
body {
    /*background: black;*/
}

.space {
    width: 400px;
    display: inline-block;
    border-bottom: 3px solid black;
}
.wheel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    /*position: absolute;*/
    left: 2px;
    animation: move 3s forwards linear infinite;/*动画名：move；动画时长：3s；匀速；播放次数无线*/
    /*动画的最后（达到100%）时的状态，取值有：backward（回到初始状态）、forwards（停在最终状态）、none、both。*/
    /*默认的速度曲线为ease，就是渐进和渐出，中间播放比较快。linear:匀速*/
    transform-origin: -50px 25px;
    /*transform-origin的原点是作用的元素左上角位置，所以往左移（700 - 1300 / 2) = 50px，往下移60 / 2 = 30px(60为水星高度)，水星转换的基点就变成了太阳的中心，在此基础上进行旋转*/
}
.wheel::before {
    content: "";
    width: 25px;
    height: 2px;
    display: block;
    background-color: black;
    position: absolute;
    top: 25px;
}
@keyframes move {
    to {
        /*transform: translateX(350px) rotate(859deg);*//*x轴移动，并翻滚*/
        transform:rotate(360deg);/*x轴移动，并翻滚*/
        /*然后再给轮子添加一个滚动的效果rotate，用运行的距离除以轮子的周长得出需要滚动多少圈，即375 / (25 * 3.1415926 * 2) * 360 = 859.4度，也就是在这个区间向右移动的同时加上自转的效果，所以给transform添加多一个rotate的属性。*/
    }
}
    
