@{
    ViewBag.Title = "Client";
    Layout = null;
}
<script src="~/Scripts/jquery-1.8.2.js"></script>
<h2>Client</h2>
<label id="showMessage"></label>
<script type="text/javascript">
    var getMessage={
        url: 'ReturnMessage',
        type: 'get',
        dataType: 'json',
        success: function (res) {
            $("#showMessage").text(res);
        }
    };
    window.setInterval(function () { $.ajax(getMessage) }, 1000);
</script>