@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<form action="List" method="post">
    <input type="text" id="txtRole" name="txtRole" />
    <input type="submit" />
    <input type="submit" name="action1" />
    <input type="submit" name="action2" />
    <input type="submit" name="action3" />
</form>

<form action="Item" method="post">
    <input type="text" id="txtUser" name="txtUser" />
    <input type="submit" name="action:1" />
    <input type="submit" name="action:2" />
    <input type="submit" name="action:3" />
</form>
