@{
    ViewBag.Title = "图片上传";
}
<style type="text/css">
    .content {
        width: 100%;
        display: flex;
    }
</style>

<div class="content">
    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
        <div class="row fileupload-buttonbar">
            <div class="col-lg-12">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择文件</span>
                    <input type="file" name="files[]" multiple="">
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>开始上传</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>取消上传</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>删除</span>
                </button>
                <input type="checkbox" class="toggle">
                <span class="fileupload-process"></span>
            </div>
            <div class="col-lg-5 fileupload-progress fade">
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script>
    ;(function ($,window) {        
        $.fn.fileUpload = function (options) {
            //默认参数，可被重写
            var defaults = {
                $uploadButton: $(".fileinput-button"),
                $inputFile: $("input[type=file]")
            };
            //此时的this为调用该方法的对象
            var $that = $(this),
                _oSelf = this;
            //检测用户传进来的参数是否合法
            if (!operate._isVaild(options))
                return this;
            //覆盖插件默认参数
            var opts = $.extend({}, defaults, options);

            //插件启动
            operate._init(this);

            //链式调用
            return _oSelf;

        };
      
        //一些函数操作
        var operate = {
            _init: function (_oaself) {
                this._add();
                this._done();
                this._update();
            },
            _add: function () {

            },
            _update: function () {

            },
            _done: function () {

            },
            _isVaild: function (options) {
                return !options || (options && typeof options === "object") ? true : false;
            }
        };
       
    })(window.jQuery);

    ;(function () {
        var picutreOperate = {
            init: function () {
                $("input[type='file']").hide();
            }
        };

        $(function () {
            picutreOperate.init();
            $("input").fileUpload();
        })

    })();

</script>
