<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>M&M</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
</head>
<body>
    <div class="canvasWrapper">
        <div class="canvas">
            <header>
                <div class="logoWrapper" data-content-field="site-title">
                    <div class="logo">
                        <a href="javascript:void(0);">
                            <img src="~/Images/title.jpg" alt="summer's  daily" />
                        </a>
                        <div class="tagline">欢迎来到summer的世界</div>
                    </div>
                    <div class="topNav" >
                        <ul class="topNav-ul">
                            <li class="topNav-li actived">就是我</li>
                            <li class="topNav-li eat-more">
                                吃吃吃吃
                                <ul class="dropdown">
                                    <li><a href="#"><i class="ion-social-snapchat-outline"></i>魔芋</a></li>
                                    <li><a href="#"><i class="ion-social-reddit-outline"></i>小怪兽</a></li>
                                    <li><a href="#"><i class="ion-social-freebsd-devil"></i>biubiu糖</a></li>
                                </ul>
                            </li>
                            <li class="topNav-li">电影</li>
                            <li class="topNav-li">逛街</li>
                            <li class="topNav-li">前端</li>
                            <li class="topNav-li">家庭</li>
                            <li class="topNav-li">联系我</li>
                        </ul>
                        
                    </div>
                </div>
            </header>
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(function () {
        $('.topNav-ul').on('click', '.topNav-li', function () {
            $(this).addClass("actived").siblings('li').removeClass('actived');
            if (!$(this).hasClass('eat-more')) {
                $('.topNav-ul .eat-more').removeClass("showdown");
            }
        });
        $('.topNav-ul').on('click', '.eat-more', function (event) {
            $(this).toggleClass("showdown");
        });
    });
</script>
