<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>M&M</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />
</head>
<body>
    <div class="canvasWrapper">
        <div class="canvas">
            <header>
                <div class="logoWrapper" data-content-field="site-title">
                    <div class="logo">
                        <a href="javascript:void(0);">
                            <img src="~/Images/title.jpg" alt="summer's  daily" />
                        </a>
                        <div class="tagline">欢迎来到summer的世界</div>
                    </div>
                    <div class="topNav" data-content-field="navigation">
                        <nav class="main-Nav dropdown-hover">
                            <ul id="siteNav">
                                <li class="toggle" id="yui_3_17_2_1_1477377689484_566">
                                    <a href="#mobileNav" id="mobile-show-nav" class="icon-list"></a>
                                </li>
                                <li class="page-collection">
                                    <a href="/contact/">联系我</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/about/">了解我</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/endorsements/">我的代言</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/topics/">主题</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/schedule/">我的时间轴</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/presskit/">我的新闻</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/media/">M&M</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/blog/">博客</a>
                                </li>
                            </ul>
                            <ul id="mobileNav">
                                <li class="toggle" id="yui_3_17_2_1_1477377689484_577">
                                    <a href="#canvas" id="mobile-close-nav" class="icon-close"></a>
                                </li>
                                <li class="page-collection">
                                    <a href="/contact/">联系我</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/about/">了解我</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/endorsements/">我的代言</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/topics/">主题</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/schedule/">我的时间轴</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/presskit/">我的新闻</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/media/">M&M</a>
                                </li>
                                <li class="page-collection">
                                    <a href="/blog/">博客</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
